main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .filter-content-text-main {
		font-size:30px;
		width: 8.6em;
		line-height: 40px;
    	margin: auto;
    	padding-bottom: 0.9em;
	}
	
	.filter-content-text-sub {
		font-size: 14px; 
		margin: auto;
		width: 21em;
    	line-height: 28px;
	    padding-bottom: 0.5em;
	}
	.filter-container-ddl-main, .filter-container-ddl-sub {
		padding-bottom: 8px;
		font-size: 13px;
	}
	
	.filter-container-search-input {
		font-size: 15px;
	}
	
	.filter-content {
		padding-bottom:57px;
	}
	
	.filter-image-background {
    	background-position: center;
	    background-size: cover;
	}
	
	.result-container {
    	width: 18em;
	}
	
	.col-md-2, .col-md-6 {
		width: 80%;
	    margin: auto;
	    padding: 0;
	}
	
	.table-bordered td {
		padding: 0;
    	margin: 0;
	}
	
	#logo {
		padding-bottom: 40px;
	}
	
	#name_address {
		padding-bottom: 28px;
		width: 14.625em;
	}
	
	#info {
		border-top: 1px solid #DCDEE0;
		padding-top: 24px;
	}
	
	.result-container {
		padding-top: 55px;
		padding-bottom: 55px;
	}
	
	.logo {
	    text-align: center;
	}
	
	.filter-content {
	}
	
	.filter-container-search , .filter-container-ddl {
		width: 18em;
	}
	
	.result-container-sub {
	    padding-top: 43px;
	    padding-bottom: 33px;
	    padding-left: 1.5em;
	    padding-right: 1.5em;
	}
	
	.table-bordered td {
	    padding-bottom: 1.25em;
	}
}

@media(min-width:1260px) {
	.br {
		display: none;
	}
	.filter-content-text-main {
		line-height: 28px;
		font-size:46px;
	}
	
	.filter-content-text-sub {
		font-size: 16px;
		line-height: 32px;
	}
	
	.filter-container-ddl-main {
		width: 32%;
		padding-right: 12px;
	}
		
	.filter-container-ddl-sub {
		width: 34%;
	}
	
	.filter-container-ddl {
		display: flex;
	    width: 38.8125em;
	}
	
	.filter-content {
		padding-bottom:11.5em;
	}
	
	.filter-image-background {
		background-size: 100% 100%;
	}
	
	
	.result-container-sub {
		display: flex;
		align-items: center;
		padding-top: 2em; 
		padding-bottom: 2em;
	}
	
	.result-container {
		width: 69.375em;
		padding-top: 2.5625em;
		padding-bottom: 120px;
	}
	
	.table-bordered td {
		padding-bottom: 1.2em;
	}
	
	#info {
		border-right: 1px solid #DCDEE0;
		width: 9.3125em;
	}
	
	.filter-container-search {
    	width: 38.8125em;
	}
	
	#logo {
		padding: 0;
	    width: 15.625em;
	    text-align: center;
	}
	
	#name_address {
		width: 30.375em;
	}
	
	#status {
	    padding-left: 3em;
		width: 13em;
		height: 80px;
	}
	
	.result-content-middle {
	    width: 29.25em;
	}
}

.content-img {
	width: 6em;
}

.logo-container {
	margin: auto;
	max-width: 80%;
}

#status {
	font-weight: 600;
}

.table-bordered {
    border: none;
}

.filter-content-text-main {
	font-weight:700;
}

.filter-content-text-sub {
	
}

.filter-container-ddl {
	padding-top: 20px;
	text-align: left;
	margin: AUTO;
}

.table-bordered td {
	border: none;
	background: transparent;
	padding-left: 0;
    padding-right: 0;
}
	
.table-striped tbody tr:nth-of-type(odd) {
	background-color: transparent;
}
	
body {
	font-family: 'Open Sans';
}
	
.main-background {
	background: #F2F2F2;
}
	
.filter-image-background {
	background-image:url(/web/images/image2.jpg);
	background-repeat: no-repeat;
}
	
.filter-content {
	padding-top:7.5em;
	margin: auto;
	text-align: center;
}
	
.filter-container-search {
	position: relative;
	padding-top: 2em;
	margin: AUTO;
}
	
.filter-container-search-input {
	width: 100%;
	padding: 6.5px 37px 6.5px 16px;
	border: solid 1px;
	border-radius: 6px;
	border-color: #FFFFFF;
}
	
.filter-container-search-button {
	opacity: .6;
	border: none;
	position: absolute;
	right: 0.5em; 
	background: none;
	padding-top: 6.5px;
	color: #0068DA;
}
	
.result-container {
	margin: auto;
}
	
.content-center {
	text-align: center;
}
	
.filter-left .select2-selection {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
	
.filter-right .select2-selection {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
	
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
	border: none;
	color: #ffffff;
}
	
.select2-container--krajee-bs4 .select2-selection,
.select2-container--krajee-bs4.select2-container--disabled .select2-selection {
	background: transparent;
	border: 1.5px solid #ffffff;
}
	
.filter-content-text,
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__placeholder, 
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
	color: #ffffff;
}
	
.result-content-img {
	max-width: 6em;
	height: auto;
}
	
.logo {
	padding-top: 2em;
	padding-bottom: 2em;
}
	
.result-container-main {
	width: 100%;
	background: #FFFFFF;
    box-shadow: 0px 1px 2px rgb(5 27 43 / 14%);
    box-sizing: content-box;
    border: 1px solid transparent;
    border-radius: 4px;
}
	
.result-container-sub {
	width: 100%; 
	background: #FFFFFF; 
}
	
.result-content {
	font-size: 13px;
	line-height: 32px;
	color: #354556;
	margin: 0;
}
	
.result-content-top {
}
	
.result-content-max {
	font-size: 21px;
	font-weight: 700;
}
	
.result-content-min {
	line-height: 24px;
}
	
.result-content-middle {
	font-size: 14px;
}

.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;

}